@import "index.css";

/*for about page*/

/* .about {
    height:fit-content;
} */
.about section {
  margin-top: 1%;
  column-gap: 4%;
  margin: 0 auto;
  width: auto;
  flex-direction: column;
  /* margin-top: 2%; */
  margin-top: 70px;
}
.about h1 {
  /* font-weight: 600; */
  font-size: 40px;
  margin: 2%;
  /* color: white; */
}

.about h2 {
  display: flex;
  justify-content: center;
}

.about p {
  /* font-weight: 600; */
  font-size: 1rem;
  margin: 2%;
  color: white;
}
.about .column1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  gap: 4%;
  column-gap: 12%;
}

.about .header-text {
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.about .image-block {
  display: flex;
  align-items: center;
}

.about img {
  height: 130px;
}
.about .column2 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1220px;
}

.about .nav-alt-button {
  display: flex;
  justify-content: center;
}

/*media query for aboutpage body of page*/
@media (max-width: 600px) {
  .about {
    margin-left: 0%;
  }

  .about section {
    flex-direction: column;
    width: auto;
  }

  .about .column1 {
    margin-left: 2%;
    margin-right: 2%;
    margin-top: 5%;
    margin-bottom: 0%;
    column-gap: 2%;
    width: 100%;
  }

  .about img {
    margin-bottom: -30%;
  }

  /* .about .column2-textblock {
      width: 100%;
      margin
    } */

  .about .column2 {
    width: 100%;
    margin-left: 6%;
    margin-right: 4%;
    margin-bottom: 4%;
  }

  .about h2 {
    margin-top: 2%;
    
  }

  .about .nav-alt-button {
    width: 60%;
  }
}

/*about section needs some extra queries for between 600 and 960*/

@media (max-width: 960px) {
  .about section {
    flex-direction: column;
    width: auto;
  }

  .about .column1 {
    margin-top: 0%;
  }
}


/*for timeline section*/
/* :root {
  --primary-color: #212121;
  --background-color: #111;
  --font: sans-serif;
} */

* {
  margin: 0;
  padding: 0;
}

/* body {
  background: var(--background-color);
  font-family: var(--font);
  display: flex;
  justify-content: center;
} */

/* Timeline Container */
.timeline {
  background: var(--primary-color);
  margin: 20px auto;
  padding: 20px;
}

/* Card container */
.card {
  position: relative;
  max-width: 800px;
}

/* setting padding based on even or odd */
.card:nth-child(odd) {
  padding: 30px 0 30px 30px;
}
.card:nth-child(even) {
  padding: 30px 30px 30px 0;
}
/* Global ::before */
.card::before {
  content: "";
  position: absolute;
  width: 50%;
  border: solid #c47ca8;
}

/* Setting the border of top, bottom, left */
.card:nth-child(odd)::before {
  left: 0px;
  top: -4.5px;
  bottom: -4.5px;
  border-width: 5px 0 5px 5px;
  border-radius: 50px 0 0 50px;
}

/* Setting the border of top, bottom, right */
.card:nth-child(even)::before {
  right: 0;
  top: 0;
  bottom: 0;
  border-width: 5px 5px 5px 0;
  border-radius: 0 50px 50px 0;
}

/* Removing the border if it is the first card */
.card:first-child::before {
  border-top: 0;
  border-top-left-radius: 0;
}

/* Removing the border if it is the last card  and it's odd */
.card:last-child:nth-child(odd)::before {
  border-bottom: 0;
  border-bottom-left-radius: 0;
}

/* Removing the border if it is the last card  and it's even */
.card:last-child:nth-child(even)::before {
  border-bottom: 0;
  border-bottom-right-radius: 0;
}

/* Information about the timeline */
.info {
  display: flex;
  flex-direction: column;
  /* background: #333; */
  color: #9da4b2;
  border-radius: 10px;
  padding: 10px;
}

/* Title of the card */
.title {
  color: #c47ca8;
  position: relative;
}

/* Timeline dot  */
.title::before {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: white;
  border-radius: 999px;
  border: 3px solid #ffc05a;
}

/* text right if the card is even  */
.card:nth-child(even) > .info > .title {
  text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd) > .info > .title::before {
  left: -45px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even) > .info > .title::before {
  right: -45px;
}

.about h4,
.about h5 {
 color: #f5defc;
 position: relative;
}

/* text right if the card is even  */
.card:nth-child(even) > .info > .sub-title {
  text-align: right;
}

/* setting dot to the left if the card is odd */
.card:nth-child(odd) > .info > .sub-title::before {
  left: -45px;
}

/* setting dot to the right if the card is odd */
.card:nth-child(even) > .info > .sub-title::before {
  right: -45px;
}

.long-page-link {
  color: white;
  text-decoration: none;
  cursor: pointer;
}

.long-page-link:hover {
  color: white;
  text-decoration: underline;
  
}