@import "nav.css";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200;300;500;600&display=swap");
html {
  /* font-family: 'Raleway', sans-serif; */
  font-family: "Noto Sans Mono", sans-serif;
  background-color: #fff;
  scroll-behavior: smooth;
}

.body-container {
  min-height: 100vh;
  background-color: #252b37;
  display: flex;
  flex-direction: column;
}

.wrapper {
  min-height: calc(100vh - 80px); /* Replace 80px with the height of your footer */
  display: flex;
  flex-direction: column;
}

body {
  /* display: flex;
  justify-content: center; */
  background-color: #252b37;
  margin: 0;
}

a {
  color: black;
  text-decoration: none;
  padding: 5px;
}


main {
  background-color: #252b37;
  /* max-width: 1220px; */
  /* height: calc(100vh - 150px); */
  margin-left: 4%;
  margin-right: 2%;
  /* height: 100vh; */
  /* height: fit-content; */
  flex-grow: 1;
  /* padding: 40px; */
  /* margin-top: 8%; */
}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* padding: 40px; */
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 8%;
}
.header-text {
  height: 15pc;
}
.column1 {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

h1 {
  font-weight: 600;
  font-size: 30px;
  margin: 2pc;
  color: white;
}

.animated-h2-div {
  width: 100%;
  padding-top: 10%;
}

.animated-h2 {
  -webkit-animation: typing 3.5s steps(40),blink-caret .75s step-end infinite;
  animation: typing 3.5s steps(40),blink-caret .75s step-end infinite;
  border-right: .15em solid #f0f8ff;
  color: #f0f8ff;
  font-size: xx-large;
  letter-spacing: .15em;
  /* margin: 0 auto; */
  overflow: hidden;
  white-space: nowrap;
  z-index: 100;
}

@-webkit-keyframes typing {
  0% {
      width: 0
  }

  to {
      width: 100%
  }
}

@keyframes typing {
  0% {
      width: 0
  }

  to {
      width: 100%
  }
}

@-webkit-keyframes blink-caret {
  0%,to {
      border-color: transparent
  }

  50% {
      border-color: #f0f8ff
  }
}

@keyframes blink-caret {
  0%,to {
      border-color: transparent
  }

  50% {
      border-color: #f0f8ff
  }
}

.emphasis {
  font-weight: 600;
  font-size: 60px;
  letter-spacing: 8px;
  padding: 40px;
  border: solid #f5defc;
  border-spacing: 2pc;
  border-radius: 20px;
  border-width: medium;
}

h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  margin: 2pc;
  color: white;
}

.nav-alt-button {
  width: 100px;
  border-radius: 20px;
  background: #d9f5fc;
  padding: 8px;
  margin: 2pc;
}

.nav-alt-button:hover {
  background-color: #f5defc;
}
.nav-alt-button-text {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.6;
}

.column2 {
  display: flex;
  align-items: center;
  margin: 2pc;
}
img {
  height: 200px;
}

/* footer {
  height: 20px;
  padding: 10px;
  text-align: right;
  background-color: white;
  justify-self: flex-end;
} */

footer {
  margin-top: auto;
  padding: 20px;
  background-color: white;
  text-align: center;
}

/*media query for index page body of page*/
@media (max-width: 600px) {
  /*for the base of the pages*/
  main {
    height: auto;
  }

  /*doesn't actually work for index page*/
  .index {
    height: 100vh;
  }

  section {
    /* display: inline-block; */
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
    padding: 2%;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 15%;
  }

  h1 {
    font-size: 16px;
  }

  .emphasis {
    font-size: 20px;
  }

  h2 {
    font-size: 16px;
  }

  img {
    height: 80px;
  }

  a {
    font-size: 16px;
  }

  .header-text {
    height: auto;
    margin-left: -2%;
    margin-right: 2%;
  }

  .column2 {
    margin-bottom: -30%;
    margin-left: 35%;
  }

  footer {
    text-align: center;
    height: 40px;
  }

  .index .column1 {
    row-gap: 0px;
  }
}

/*home section needs some extra queries for between 600 and 1240px*/
@media (max-width: 1240px) {
  .index .column1 {
    row-gap: 40px;
  }
}
