@import "nav.css";

html {
    scroll-behavior: smooth;
  }

main {
  background-color: #252b37;
  /* max-width: 1220px; */
  /* height: calc(100vh - 150px); */
  margin-left: 4%;
  margin-right: 2%;
  height: 100vh;
  /* height: fit-content; */

}

section {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 40px;
  margin-right: 2%;
  margin-left: 2%;
  margin-top: 8%;
}
.header-text {
  height: 15pc;
}
.column1 {
  display: flex;
  flex-direction: column;
  align-content: space-around;
}

h1 {
  font-weight: 600;
  font-size: 30px;
  margin: 2pc;
  color: white;
}

.emphasis {
  font-weight: 600;
  font-size: 60px;
  letter-spacing: 8px;
  padding: 10px;
  border: solid #f5defc;
  border-spacing: 2pc;
  border-radius: 20px;
  border-width: medium;
}

h2 {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.4;
  margin: 2pc;
  color: white;
}

.nav-alt-button {
  width: 100px;
  border-radius: 20px;
  background: #d9f5fc;
  padding: 8px;
  margin: 2pc;
}

.nav-alt-button:hover {
  background-color: #f5defc;
}
.nav-alt-button-text {
  font-weight: 600;
  font-size: 22px;
  line-height: 1.6;
}

.column2 {
  display: flex;
  align-items: center;
  margin: 2pc;
}
img {
  height: 200px;
}

footer {
  height: 20px;
  padding: 10px;
  text-align: right;
  background-color: white;
  justify-self: flex-end;
}

/*media query for index page body of page*/
@media (max-width: 600px) {
  main {
    height: auto;
  }
  section {
    /* display: inline-block; */
    flex-direction: column-reverse;
    width: 100%;
    height: auto;
    padding: 2%;
    margin-left: 0%;
    margin-top: 0%;
    margin-bottom: 15%;
  }

  h1 {
    font-size: 16px;
  }

  .emphasis {
    font-size: 20px;
  }

  h2 {
    font-size: 16px;
  }

  img {
    height: 80px;
  }

  a {
    font-size: 16px;
  }

  .header-text {
    height: auto;
    margin-left: -2%;
    margin-right: 2%;
  }

  .column2 {
    margin-bottom: -30%;
    margin-left: 35%;
  }

  footer {
    text-align: center;
    height: 40px;
  }

  .index .column1 {
    row-gap: 0px;
  }
}

/*home section needs some extra queries for between 600 and 1240px*/
@media (max-width: 1240px) {
  .index .column1 {
    row-gap: 40px;
  }
}
