@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200;300;500;600&display=swap");
html {
  /* font-family: 'Raleway', sans-serif; */
  font-family: "Noto Sans Mono", sans-serif;
  background-color: #fff;
}

.body-container {
  min-height: 100vh;
  background-color: #252b37;
  display: flex;
  flex-direction: column;
}

body {
  /* display: flex;
  justify-content: center; */
  background-color: #252b37;
}

a {
  color: black;
  text-decoration: none;
  padding: 5px;
}

header {
  height: 80px;
  background-color: #252b37;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: solid white thin;
  /* max-width: 1220px; */
}

.main-nav {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin: 2pc;
}

.nav-button {
  border-radius: 18px;
  background: #f5defc;
  padding: 10px;
}

.nav-button:hover {
  background-color: #c47ca8;
}

.icon {
  height: 30px;
  width: 30px;
}

.icon:hover {
  border-color: #f5defc;
  opacity: 20%;
}

.socials {
  display: flex;
  justify-content: space-evenly;
  gap: 10%;
}

@media (max-width: 600px) {
  #menuToggle {
    display: block;
    position: relative;
    /* top: 40px; */
    left: 40px;

    z-index: 1;

    -webkit-user-select: none;
    user-select: none;
  }

  #menuToggle a {
    text-decoration: none;
    color: #232323;

    transition: color 0.3s ease;
  }

  #menuToggle a:hover {
    color: #c47ca8;
  }

  #menuToggle input {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;

    cursor: pointer;

    opacity: 0; /* hide this */
    z-index: 2; /* and place it over the hamburger */

    /* -webkit-touch-callout: none; */
  }

  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background: #f5defc;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
      background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
  }

  #menuToggle span:first-child {
    transform-origin: 0% 0%;
  }

  #menuToggle span:nth-last-child(2) {
    transform-origin: 0% 100%;
  }
  #menuToggle input:checked ~ span {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  #menuToggle input:checked ~ span:nth-last-child(3) {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2) {
    transform: rotate(-45deg) translate(0, -1px);
  }
  #menu {
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;

    background: white;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    /* to stop flickering of text in safari */

    transform-origin: 0% 0%;
    transform: translate(-100%, 0);

    transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
  }

  #menu li {
    padding: 10px 0;
    font-size: 22px;
  }

  #menuToggle input:checked ~ ul {
    transform: none;
  }
}

@media (max-width: 600px) {
  .main-nav {
    display: none;
  }
}
@media (min-width: 601px) {
  .small-nav {
    display: none;
  }
}
