@import "index.css";


.progress-container {
  width: 100%;
  height: 8px;
  background: #252b37;
  position: fixed;
}

.progress-bar {
  height: 8px;
  background: #c47ca8;
  width: 0%;
  position: fixed;
}
/* css for project page*/

/* .projects {
    height:100vh;
} */
.projects section {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  margin-top: 40px;
}

.projects .column1 {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.projects .header-text {
  margin-bottom: -50px;
}
#hero-goose {
  height: 120px;
}

.project-grid {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 30px;
  width: 100%;
  margin-bottom: 10%;
}

.project-tile {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border: 2px solid #d9f5fc;
  padding: 1%;
  border-radius: 20px;
}
.project-tile-top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  height: 40px;
  border-bottom: 1px solid white;
}

.project-tile h3 {
  padding: 0%;
  margin: 2%;
  font-weight: 300;
  color: white;
  padding: 2%;
}

.project-tile-bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  column-gap: 2%;
  padding: 1%;
}

.code-badge-container {
  display: flex;
  flex-direction: row;
  column-gap: 2%;
}


.project-button-container {
  display: flex;
  gap: 5%;
  align-items: center;
}

.demo-button {
  border-radius: 18px;
  background-color: #f5defc;
  /* border: 2px solid #c47ca8; */
  padding: 4px;
}


.code-badge {
  border-radius: 18px;
  border: 2px solid #c47ca8;
  padding: 4px;
}

.code-badge a {
  color: white;
}

.project-type-badge {
  border-radius: 18px;
  border: 2px dotted #d9f5fc;
  padding: 4px;
}

.project-type-badge  a {
  color: #d9f5fc;
}

.github-button:hover,
.demo-button:hover {
  border-color: #f5defc;
  opacity: 20%;
}

.projects footer {
  position: relative;
}

/*media query for projects page body of page*/
@media (max-width: 600px) {
  .projects {
    margin-left: 2%;
    margin-right: 4%;
  }

  .projects section {
    width: fit-content;
    /* margin-left: 2%;
          margin-right: 4%; */
  }

  .projects h1 {
    font-size: 22px;
  }

  .projects .header-text {
    margin-bottom: 2%;
  }

  .project-grid {
    flex-direction: column;
    width: auto;
    row-gap: 15px;
  }
}
