@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+Mono:wght@200;300;500;600&display=swap');
html {
    /* font-family: 'Raleway', sans-serif; */
    font-family: 'Noto Sans Mono', sans-serif;
    background-color: #fff;
}

a {
    color: black;
    text-decoration: none;
    padding: 5px;
}

header {
    height: 90px;
    background-color: #252b37;
    display: flex;
    justify-content: space-between;
    align-items: center;
    

}

nav {
    display: flex;
    flex-direction: row;
    gap: 20px; 
}

.nav-button {
    border-radius: 18px;
    background: #f5defc;
    padding: 10px;
}

.icon {
    height: 30px;
    width: 30px;
}

main {
    display: flex;
    flex-direction: row;

}

section {
    width: 70pc;
    height: 30pc;
    padding: 10px;
}

h1 {
    font-weight: 600;
    font-size: 30px;
    line-height: 1.6;
}

.emphasis {
    font-weight: 600;
    font-size: 60px;
    line-height: 1.6;
    letter-spacing: 8px;
}

h2 {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.4;
}

.nav-alt-button-text {
    font-weight: 600;
    font-size: 25px;
    line-height: 1.6;
}



* {
    border: 1px solid grey;
    } 